extends ./layout


block body
  .jumbotron
    h1 Тестовый проект
    p Реализация тестового проекта на получение должности программиста в ООО "Муниципальные системы"
    p Программист:
    p
      a.btn.btn-primary.btn-lg(href="/login", role="button") Вход
      | &nbsp;
      a.btn.btn-primary.btn-lg(href="/user/register", role="button") Регистрация