doctype html
html
  head
    title Тест

    link(rel="stylesheet", href="/bootstrap-3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet", href="/styles/style.css")

    block styles

  body
    .container
      block body

    script(src="/js/dependencies/sails.io.js")
    script(src="/jquery-2.2.1/jquery-2.2.1.min.js")
    script(src="/bootstrap-3.3.6/js/bootstrap.min.js")
    block scripts

