extends ../layout

block body
  .alert.alert-success(role="alert")
    | Регистрация нового пользователя прошла успешно. Для активации пользователя пройдите по ссылке отправленной Вам по электронной почте.
